<link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">
<link rel="stylesheet" href="{{ theme_url }}/css/mobile-menu.css" type="text/css" />
<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
<div class="header" role="banner">
    <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false"
            tabindex="1">
            <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
            <span class="sr-only">Toggle Menu</span>
    </a>
   <div class="nav">
        <div id="nav" role="navigation" tabindex="-1">
            <ul>
                {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>


